<form class="form-horizontal">
	<div class="box-body">
		<div class="form-group">
			<div class="form-group">
				<label  class="col-sm-2 control-label">Cargo</label>
					<div class="col-sm-3">
						<input type="text"  class="form-control"  placeholder="Cargo administrativo">						
					</div>
				<label class="col-sm-2 control-label">Intensidad Horaria</label>
					<div class="col-sm-3" >					
						<input type="text"  class="form-control"  placeholder="0">					
					</div>	
			</div>		
		</div>
	</div>	
</form>