<header class="main-header">
    <!-- Logo -->
    <a href="/#/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>Udenar</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Universidad de Nariño</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
           <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/img/avatar04.png" class="user-image" alt="User Image">
                <span class="hidden-xs">{{navvm.currentUser.primer_nombre}} {{navvm.currentUser.primer_apellido}}</span>
              </a>
              <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                      <img src="/img/avatar04.png" class="img-circle" alt="User Image">

                      <p>
                      {{navvm.currentUser.primer_nombre}} {{navvm.currentUser.primer_apellido}}
                      <small>Identificación: {{navvm.currentUser.numero_documento}}</small>
                      </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                      <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Perfil</a>
                      </div>
                      <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat" ng-click="navvm.logout()">Cerrar sesión</a>
                      </div>
                  </li>
              </ul>  
           </li> 
        
        </ul>
      </div>
    </nav>
</header>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
        <img src="/img/avatar04.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
        <p>{{navvm.currentUser.primer_nombre}} {{navvm.currentUser.primer_apellido}}</p>
        <small>Identificación: {{navvm.currentUser.numero_documento}}<small>
        <!--<a href="#"><i class="fa fa-circle text-success"></i> En linea</a>-->
        </div>
    </div>
    <ul class="sidebar-menu">
        <li class="header">Programas</li>
        <li ng-repeat="programa in programas" class="treeview" >
            <a>
                <i class="fa fa-cog"></i> <span>{{programa.nom_programa}}</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Ver</a></li>
              <li><a href="#">Agregar</a></li>
               
            </ul>
        </li>
    </ul>
    </section>
    <!-- /.sidebar -->
</aside>
