
<navigation></navigation>
<div class="content-wrapper">
	<div container>

		<section class="content-header">	
			<h1>
				{{ titulo.titulo }}
				<small>{{ titulo.subtitulo }}</small>
			</h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-success ">
						<div class="box-header with-border">
							<h3 class="box-title">Acuerdo {{numero_acuerdo}}</h3>

							<div class="box-tools pull-right">
								<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<!-- In box-tools add this button if you intend to use the contacts pane -->
      							
    						</div>

						</div>


					
					<form class="form-horizontal">
						<div class="box-body">

							<div class="form-group">
							<label  class="col-sm-2 control-label">Acuerdo Numero</label>

								<div class="col-sm-3">
									<input ng-model="acuerdo.num_acuerdo" type="text" class="form-control" name="" placeholder="No Acuerdo">
									
								</div>

							<label for="inputEmail" class="col-sm-2 control-label">Fecha Acuerdo</label>
								<div class="col-sm-4 input-group date" >
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
										
									</div>
									<input type="date" ng-model="acuerdo.fec_acuerdo" class="form-control" id="datepicker" placeholder="Fecha en que se firma el acuerdo">
									
								</div>
								
							</div>

							<div class="form-group">
							<label  class="col-sm-2 control-label">Tipo de Acuerdo</label>

								<div class="col-sm-3">
									<select class="form-control" ng-model="acuerdo.acuerdo_tipo">
                    					<option value="T">Transsicional</option>
                    					<option value="N">Normal</option>
                    				</select>
									
								</div>

							<label for="inputEmail" class="col-sm-2 control-label">Fecha de Inicio</label>
								<div class="col-sm-4 input-group date" >
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
										
									</div>
									<input type="date" ng-model="acuerdo.fec_inicio" class="form-control" id="datepicker" placeholder="Fecha en que inicia el acuerdo">
									
								</div>
								
							</div>

							<div class="form-group">
							<label  class="col-sm-2 control-label">Vigente</label>

								<div class="col-sm-3">
									<select ng-model="acuerdo.acuerdo_vigente" class="form-control">
                    					<option value="S">Si</option>
                    					<option value="N">No</option>
                    				</select>
									
								</div>

							<label for="inputEmail" class="col-sm-2 control-label">Fecha de Fin</label>
								<div class="col-sm-4 input-group date" >
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
										
									</div>
									<input type="date" class="form-control"  ng-model="acuerdo.fec_final" id="datepicker" placeholder="Fecha en que el acuerdo finaliza">
									
								</div>
								
							</div>

						</div>
						<div class="box-footer">
						<button type="cancel" ng-click="limpiarAcuerdo()" class="btn btn-default">Cancelar</button>
						<button type="submit" ng-click="crearAcuerdo()" class="btn btn-primary pull-right">Guardar</button>
							
						</div>
						
					</form>
					</div>
				</div>
				<!-- Cierra agregar acuerdo -->




				<div class="col-md-12">
					<div class="box box-success ">
						<div class="box-header with-border">
							<h3 class="box-title">Semestres</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								<!-- In box-tools add this button if you intend to use the contacts pane -->
      							
    						</div>
						</div>
					
						<form class="form-horizontal">
						<div class="box-body">

							<div class="form-group">
								<label  class="col-sm-2 control-label">Semestre Nº</label>

								<div class="col-sm-3">
									<input ng-model="acuerdo.num_acuerdo" type="text" class="form-control" name="" placeholder="Ejemplo: 1,2,3,4,">
									
								</div>

								<div class="col-sm-5 input-group date" >
									<button type="cancel" ng-click="limpiarAcuerdo()" class="btn btn-success">Agregar</button>
									
								</div>
								
							</div>

							<div>
								<div class="form-group">
									<label  class="col-sm-2 control-label">Asignatura</label>

									<div class="col-sm-3">
										<input  type="text" class="form-control" name="" placeholder="Asignatura">
									
									</div>

									<label  class="col-sm-2 control-label">Creditos</label>

									<div class="col-sm-3">
										<input  type="text" class="form-control" name="" placeholder="Cantidad Creditos">
									
									</div>

								
								</div>
								<h4>Intensidad Horaria</h4>

								<div class="form-group">
									<label  class="col-sm-2 control-label">Tipo</label>

									<div class="col-sm-3">
										<select ng-model="acuerdo.acuerdo_vigente" class="form-control">
                    					<option value="T">Teoria</option>
                    					<option value="P">Practica</option>
                    					<option value="M">Modulo</option>
                    					<option value="N">Nucleo</option>
                    					</select>
									
									</div>

									<label  class="col-sm-2 control-label">Cantidad</label>

									<div class="col-sm-3">
										<input  type="text" class="form-control" name="" placeholder="Cantidad Horas Semanales">
									
									</div>

									<div class="col-sm-2 input-group date" >
										<button type="cancel" ng-click="limpiarAcuerdo()" class="btn btn-info"><i class="fa fa-plus"></i></button>
									
									</div>
								
								</div>

								<h4>Requisitos</h4>

								<div class="form-group">
									<label  class="col-sm-2 control-label">Tipo</label>

									<div class="col-sm-3">
										<select ng-model="acuerdo.acuerdo_vigente" class="form-control">
                    					<option value="P">Prerequisito</option>
                    					<option value="C">Corequisito</option>
                    					
                    				</select>
									
									</div>

									<label  class="col-sm-2 control-label">Tipo</label>

									<div class="col-sm-3">
										<select class="form-control">
                    					<option value="S">Semestre</option>
                    					<option value="A">Materia</option>
                    					<option value="A">Otro</option>

                    					</select>
									
									</div>

								
								</div>

								<!-- por materia -->
								<div class="form-group">
									

									<label  class="col-sm-2 control-label">Asignatura</label>

									<div class="col-sm-3">
										<input  type="text" class="form-control" name="" placeholder="Asignatura">
									
									</div>


									<div class="col-sm-2 input-group date" >
										<button type="cancel" ng-click="limpiarAcuerdo()" class="btn btn-info"><i class="fa fa-plus"></i></button>
									
									</div>
								
								</div>
								
							</div>
						</div>	
					</form> 
					</div> <!-- cierra box-success -->
				</div><!-- cierra colm12 -->



				
			</div>

			
		</section>
	</div>
</div>



<footer-generic></footer-generic>	

