<navigation></navigation>
<div class="content-wrapper">
	<div container>
		<section class="content-header">	
			<h1>
				{{'subida_archivo' | translate}}
			</h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-sm-6">
					<form name="upload" ng-submit="onSubmit()">
						<div role="alert" ng-show="formError" class="alert alert-danger">{{ formError }}</div>
						<div class="form-group">
							<label for="nombre_producto">{{'nombre_archivo' | translate }}</label>
							<input type="text" id="nombre_producto" class="form-control col-sm-4" ng-model="nombre"/>
						</div>
						<div class="form-group">
							<input type ="file" name="file" uploader-model="file"/>
						</div>
						<div class="form-group">
							<div class="col-sm-4 nopadding">
								<input type="submit" value="{{'enviar' | translate}}" class="btn btn-block btn-primary"/>
							</div>
						</div>
					</form>	
				</div>
			</div>
		</section>
	</div>
</div>
<footer-generic></footer-generic>		