<navigation></navigation>
<div class="content-wrapper">
	<div container>
		<section class="content-header">	
			<h1>
				{{'detalle_producto' | translate}} {{productoid}}
			</h1>
		</section>
		<section class="content">
			<div class="row" ng-show="!error">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="nombre_producto">{{"nombre_producto" | translate}}</label>
						<input ng-disabled="true" type="text" class="form-control" id="nombre_producto" placeholder="Nombres" ng-model="producto.nombre_producto">
					</div>
					<div class="form-group">
						<label for="cantidad">{{"cantidad_producto" | translate}}</label>
						<input ng-disabled="true" type="text" class="form-control" id="cantidad" placeholder="cantidad" ng-model="producto.cantidad">
					</div>
					<div class="form-group">
						<label for="valor">{{"valor_producto" | translate}}</label>
						<input ng-disabled="true" type="text" class="form-control" id="valor" placeholder="valor" ng-model="producto.valor">
					</div>
					<div class="form-group">
						<label for="cmbMarca">{{"nombre_marca" | translate}}</label>
						<input ng-disabled="true" type="text" class="form-control" id="valor" placeholder="valor" ng-model="producto.marca.nom_marca">
					</div>
					<div class="form-group">
						
						<div class="center-block centrar">	
						<a class="btn btn-success" href="/#/producto">
							<i class="fa fa-times" aria-hidden="true"></i> 
							{{"btn_cancelar" | translate}}
						</a>
						</div>
						
							
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<footer-generic></footer-generic>	